<!-- templates/postform.tmpl -->
<html>
<head>
    <title>Happy Hour Submission</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="layout" class="pure-g">
        <div class="sidebar pure-u-1 pure-u-md-1-4">
            <div class="header">
                <h1 class="brand-title">Submit Happy Hours</h1>
                <h2 class="brand-tagline">Brought to you by Paul and Ray.</h2>
                <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button" href="/">Back</a>
                    </li>
                </ul>
            </nav>
            </div>
        </div>

        <div class="content pure-u-1 pure-u-md-3-4">
            <div>
                <div class="posts">
                    <form id="submitForm" class="pure-form pure-form-aligned"></form>
                </div>
            </div>
        </div>
    </div>
    <script src="/vendor/json2.js"></script>
    <script src="/vendor/jquery-2.1.3.min.js"></script>
    <script src="/vendor/jquery.timepicker.min.js"></script>
    <script src="/vendor/underscore-min.js"></script>
    <script src="/vendor/backbone-min.js"></script>
    <script src="/vendor/backbone-forms.min.js"></script>
    <script src="/vendor/backbone-forms.min.js"></script>
    <script src="/vendor/list.min.js"></script>
    <script src="/happy.js"></script>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <link rel="stylesheet" href="happy.css">
    <link rel="stylesheet" href="/vendor/jquery.timepicker.css">
</body>
</html>